<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cereal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CerealWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A3386DB1BBADB2C0060F7F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A61127C1BBC500A0026471F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A6112AB1BBC58EB0026471F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ABE07F51B628E27003FA41B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ABE07FF1B628E27003FA41B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
